@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(/fontes/idroid.otf);
    font-weight: normal;
}

:root {
    --cor0: #ebe5c5;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao: Arial , Verdana , Helvetica , Sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android : 'android', cursive;

}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
header{
    background-color: var(--cor04);
}
header > h1 {
   font-family: var(--fonte-destaque);
   color: white
}
header > p{
    color: white;
}
nav{
    background-color: var(--cor05);
}
main{

background-color: white;
}
main h1 {
    font-family: var(--fonte-android);
    color: var(--cor05);
}
main h2  {
    font-family: var(--fonte-android);
}
footer{
    background-color: var(--cor05);
    color: white;
}