@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(/fontes/idroid.otf);
    font-weight: normal;
}

:root {
    --cor0: #ebe5c5;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao: Arial , Verdana , Helvetica , Sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android : 'android', cursive;

}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
a.externo ::after{
    content: '\00A00\1F517';
}

header{
    background-image: linear-gradient(to bottom ,var(--cor03), var(--cor05) );
    min-width: 150px;
    text-align: center;
    padding: 40px;
}
header > h1 {
   font-family: var(--fonte-destaque);
   color: white;
   font-size: 3em;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.356);
   font-weight: normal;
}
header > p{
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.356);
}
nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.473) ;

}
nav > a {
   color: white;
   text-decoration: none;
   padding: 10px;
}
nav > a:hover{
    color: var(--cor01);
    background-color: var(--cor04);
    font-weight: bold;
    border-radius: 2px;
    transition-duration: 0.6s;
}
main{
padding: 20px;
background-color: white;
min-height: 300px;
max-width: 1000px;
margin: auto;
margin-bottom: 20px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
}
div.video{
    background-color: var(--cor05);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 55%;
    position: relative;
}
div.video > iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
}
main h1 {
    font-family: var(--fonte-android);
    color: var(--cor05);
}
main h2  {
    font-family: var(--fonte-android);
    color: var(--cor04);
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 6px;
    border-radius: 5px;
    font-weight: normal;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
    text-indent: 30px;
    
}
main strong{
    font-weight: bold;
    color: var(--cor04);
    
}  
main a {
    text-decoration: none;
    color: var(--cor05);
    background-color: #83e1ad;
    padding: 2px 6px;
    border-radius: 5px;

}
main a:hover{
    text-decoration: underline;
    background-color: #2fa866;
    transition: 0.5s;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.26);
}
aside > h3{
background-color: var(--cor04);
color: white;
padding: 10px;
margin: -10px -10px 0px -10px;
border-radius: 10px 10px 0px 0px;

}
aside > ul{
    list-style: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    padding: 8px;
}
footer > a {
    color: white;
    text-decoration: none;
}
footer > a:hover{
    color: #3ddc84;
    background-color: var(--cor04);
    padding: 2px 5px;
    border-radius: 7px;
    text-decoration: underline;
    transition: 0.5s;
}